<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}VINSTAR WEBS .INC{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{%  static 'css/login' %}">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
  <div class="container">
  <header>
    <h1>VINSTAR WEBS .INC</h1>
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
  </div>
</body>
</html>